
.main-container {
    width: 100%;
    background-color: #fff;
    height: calc(100vh - 52px );
    background-image: url(../images/Colored-Shapes.svg);
    font-family: 'Bebas Neue', cursive;
    
}

.header__container {
    width: 100%;
    max-width: var(--web-max-width);
    height: calc(100vh - 52px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 100px;
}

.header__container-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    
}

.header__container-title h1 span {
    display: inline-block;
    gap: 5px;
    font-size: 3.6rem;
    margin-bottom: 5px;
    color: #010101;
    font-family: 'Playfair Display SC', serif;
    margin-right: 5px; 
}

.header__container-title h1 span:first-child {
    
    position: relative;
    z-index: 999;
}

.header__container-title h1 span:nth-child(2) {
   
    position: relative;
}

.header__container-title h1 span:nth-child(3) {
    
    position: relative;
}

.header__container-title h1 span:first-child::after {
    content: 'Typing';
    font-size: 3.6rem;
    color: var(--azul);
    position: absolute;
    top: 0;
    left: 0;
    animation: tipear 1.2s ease 3s infinite;
}

.header__container-title h1 span:nth-child(2)::after {
    content: 'Speed';
    font-size: 3.6rem;
    color: var(--azul);
    position: absolute;
    top: 0;
    left: 0;
    animation: tipear 1.2s ease 4s infinite;
}

.header__container-title h1 span:nth-child(3)::after {
    content: 'Game';
    font-size: 3.6rem;
    color: var(--azul);
    position: absolute;
    top: 0;
    left: 0;
    animation: tipear 1.2s ease 3.5s infinite;
}

.header__container-title p {
    font-size: 1.2rem;
    max-width: 800px;
    margin-bottom: 10px;
    color: #4b4a4a;
    letter-spacing: 1px;
    line-height: 25px;
}


.header__container button {
    text-transform: uppercase;
    padding: 10px 35px;
    border: none;
    background-color: var(--color-verde);
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Playfair Display SC', serif;
    transition: all .5s ease;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.header__container button:hover {
    background-color: rgb(255, 255, 255);
    outline: 2px solid rgb(16, 237, 16);
    color: rgb(16, 237, 16);
}

@media screen and (max-width: 900px) {
    .header__container-title {
        padding: 0;
    }
}

@media screen and (max-width: 750px) {
    .header__container {
        gap: 15px;
        text-align: center;
    }
    .header__container button {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .header__container-title h1 {
        font-size: 2.4rem;
    }
    .header__container-title p {
        font-size: 1rem;
    }
    .header__container button {
        font-size: 1.1rem;
        padding: 10px 20px;  
    }
}

@keyframes tipear {
    0%{
        transform: scale(1);
         
    }
    30% {
        transform: scale(1);
        text-shadow: none;
    }
    50%{
        transform: scale(.93);
        text-shadow: 0px 0px 3px #000000;    
    }
    80% {
        transform: scale(1);
        text-shadow: none;
    }
    100%{
        transform: scale(1);
        
    }
}
