.juego-iniciado {
    margin: auto;
    width: 100%;
    animation: iniciarJuego 1s ease;
    padding: var(--padding-for-containers) 0px;
    background-color: var(--alice-blue);
}

@keyframes iniciarJuego {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.juego-iniciado__reglas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.juego-iniciado__reglas__slider {
    margin: auto;
    width: 100%;
    max-width: 900px;
    margin-top: var(--margin-beetween-titles);
    
    overflow: hidden;
}

.reglas-container {
    display: flex;
    width: 500%;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    animation: slideMove 40s ease-in-out infinite running;
}

.regla {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

@keyframes slideMove {
    0% {
       margin-left: 0;
    }
    15% {
        margin-left: 0;
    }
    20% {
        margin-left: -100%;
    }
    35% {
        margin-left: -100%;
    }
    40% {
        margin-left: -200%;
    }
    55% {
        margin-left: -200%;
    }
    60% {
        margin-left: -300%;
    }
    75% {
        margin-left: -300%; 
    }
    80% {
        margin-left: -400%;
    }
    95% {
        margin-left: -400%; 
    }
    100% {
        margin-left: -500%;
    }
    
}



