
.juego-container {
    padding: var(--padding-beetween-containers) 0px
    ;
    text-align: center;
    
}

.juego-container h2 {
    margin-bottom: var(--margin-beetween-titles);
    font-size: 2rem;
}

.juego-container p {
    margin-bottom: var(--margin-beetween-titles);
    font-size: 1.2rem;
}

.juego-container button {
    margin-top: var(--margin-for-buttons);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-verde);
    color: var(--blanco);
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}