.juego-iniciado { 
    animation: iniciarJuego 1s ease; 
}

@keyframes iniciarJuego {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.juego-iniciado__reglas__slider {
    margin: auto;
    width: 100%;
    overflow: hidden;
    background-color: var(--alice-blue);
    padding: 10px 0px;
}

.reglas-container {
    display: flex;
    width: 500%;
    justify-content: space-between;
    align-items: center;
    animation: slideMove 40s ease-in-out infinite running;
    padding: 0px 5px;
}

.regla {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}

@keyframes slideMove {
    0% {
       margin-left: 0;
       opacity: 0;
    }
    15% {
        margin-left: 0;
        opacity: 1;
    }
    20% {
        margin-left: -100%;
    }
    35% {
        margin-left: -100%;
    }
    40% {
        margin-left: -200%;
    }
    55% {
        margin-left: -200%;
    }
    60% {
        margin-left: -300%;
    }
    75% {
        margin-left: -300%; 
    }
    80% {
        margin-left: -400%;
    }
    95% {
        margin-left: -400%; 
    }
    100% {
        margin-left: -500%;
    }
    
}




.en-juego__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: var(--web-max-width);
    margin: auto;
    padding: 15px;
    
}

.level-active {
    justify-content: space-between;
}

.h2-level {
    background-color: var(--azul);
    color: #fff;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 1.3rem;
}

.p-enter-press {
    color: rgb(37, 173, 222);
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    animation: latido 1s ease infinite;
    
}

@keyframes latido {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

.fondo-empezar-juego {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
}

.fondo-empezar-juego img {
    
    width: 500px;  
}


/* ++++ muted boton styles ++++++ */

.muted-btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}


.muted-btn-container img {
    width: 45px;
}

#muted-btn {
    display: none;
}

#muted-btn:checked ~ .muted-switch {
    background-color: rgb(46, 45, 45);
}

#muted-btn:checked ~ .muted-switch::after {
    left: 28px;
    content: "OFF";
    color: #000;
}

.muted-switch {
    display: inline-block;
    width: 55px;
    height: 30px;
    background-color: var(--azul);
    border-radius: 100px;
    position: relative;
    cursor: pointer; 
    
}

.muted-switch::after {
    position: absolute;
    display: flex;
    content: "ON";
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    top: 4px;
    left: 5px;
    transition: .3s;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: var(--azul);
    text-shadow: 1px 1px 1px rgb(211, 210, 210);
}



