
.main-container-menu {
    width: 100%;
    background-color: var(--azul);
    color: #fff;
    font-size: 1.2rem;
    
}

.header__menu {
    display: flex;
    width: 100%;
    max-width: var(--web-max-width);
    margin: auto;
    justify-content: space-between;
    padding: 15px;
}

.header__menu nav ul{
    display: flex;
    list-style: none;
}

.header__menu nav ul li {
    margin-left: 40px;
}

.span-record {
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}