
.main-container-menu {
    width: 100%;
    background-color: rgb(103, 156, 202);
}

.header__menu {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: auto;
    
    justify-content: space-between;
    padding: 15px;
}

.header__menu nav ul{
    display: flex;
    list-style: none;
}

.header__menu nav ul li {
    margin-left: 20px;
}