/* Sección de palabra y letra */

.palabra-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    
}

.letra-container {
    padding: 10px;
    background-color: rgb(28, 111, 111);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.tipeo-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 55px;
}

.tipeo-container__letra {
    width: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-bottom: thin solid black;
}

.tipeo-container__letra:focus {
    outline: none;
}


.tiempo {
    border: 5px solid red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}
