
.reloj-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    border: 2px outset rgb(29, 137, 137);
    margin: auto;
    margin-bottom: 45px;
    border-radius: 5px;
    
}

.reloj-container img {
    width: 58px;
    height: 58px;
}

.reloj-container p {
    display: inline-block;
    font-size: 3.4rem;
    color: rgb(29, 137, 137);
}