
.reloj-container {
    border: 2px solid rgb(29, 137, 137);
    width: 120px;
    margin: auto;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.reloj-container img {
    width: 58px;
    height: 58px;
}

.reloj-container p {
    font-size: 3.4rem;
    color: rgb(29, 137, 137);
}