* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --web-max-width: 1500px;
    --padding-for-containers: 70px;
    --margin-beetween-titles: 15px;
    --margin-for-buttons: 15px;
    --azul: #2196f3;
    --alice-blue: rgb(240, 248, 255);
    --color-verde: rgb(16, 237, 16);
    --blanco: #fff;
}



